     .game {
          display: flex;
          flex-direction: column;
          align-content: space-between;
          align-items: center;
          height: calc(100% - 48px);
          width: 100%;
      }

      .board {
          border: 2px solid #444;
          border-radius: 2px;
          background-color: #111;
          min-width: 258px;
      }

      .header {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 8px;
      }
      button {
          font: 16px Arial;
          background: #222;
          color: white;
          padding: 8px;
          margin: 0 8px;
          border: 1px solid gray;
          border-radius: 2px;
          font-weight: bold;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
            -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
      }
      button:hover {
          background: #444;
      }
      button:active {
          background: #666;
      }

      .key {
          width: 50px;
          height: 50px;
          text-transform: capitalize;
          vertical-align: top;
          text-align: left;
          padding: 8px;
          margin: 3px;
          font-weight: bold;
          display: inline-flex;
          align-items: flex-start;
      }

      .key.used {
          background: #444;
          border-color: white;
          border-style: dashed;
      }

      .random, .enterword {
          margin: 8px;
      }

      .keys {
          margin-top: 2em;
          width: 100%;
      }

      .notification {
          display: none;
          margin: 8px;
      }

      .row {
          display: flex;
          /* justify-content: space-around; */
          align-items: center;
          padding: 0.2em;
          min-height: 40px;
          font-family: 'Courier New', Courier, monospace;
      }

      .board.won {
          background-color: blue;
      }

      .unknown,
      .absent {
          background-color: darkslategray;
      }

      .elsewhere {
          background-color: blueviolet;
      }

      .correct {
          background-color: yellow;
          color: black;
          border-color: black;
      }
      .share.won {
          background-color: green;
      }

      .state.right {
          border-style: double;
          border-width: 3px;
          background-color: lightgreen;
          margin: 2px;
      }
      .state.else {
          border-style: dashed;
          border-width: 1px;
          margin: 4px;
          background-color: #55CDFC;
      }

      button.counter, button.state, button.letter {
          background-color: #CCC;
          border-radius: 8px;
          border: 2px solid white;
          width: 40px;
          height: 40px;
          font-size: 2em;
          font-family: 'Courier New', Courier, monospace;
          font-weight: bold;
          text-align: center;
          color: black;
          margin: 4px;
      }
      button.letter:hover {
        background: #999;
      }
      button.letter:active {
          background: #777;
      }

      .counter {
          background-color: blueviolet;
      }

      .keyrow {
          display: flex;
          justify-content: center;
          padding: 0.2em;
      }