.gameBoard {
  z-index: 1;
  position: relative;
  background: #ccc;
  border-radius: 4px;
  width: 250px;
  height: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.nextPiece {
  position: relative;
  background: #ccc;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: auto;
}
.gamePiece {
  z-index: 4;
  position: absolute;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  font: 20px bold Arial, sans-serif;
  text-align: center;
  transition-property: top, left;
  transition-duration: 0.75s, 0.75s;
  transition-delay: 0s, 0s;
  margin: auto;
  background: black;
  color: white;
}
.pieceContent {
  line-height: 50px;
}
.onePiece {
  background: blue;
  color: white;
}
.twoPiece {
  background: green;
  color: white;
}
.emptyPiece {
  background: #aaa;
  z-index: 2;
}
